.form {
  padding: 20px;
  width: 500px;
  margin: auto;
  display: grid;
  gap: 20px;
  position: relative;
  border: 1px solid;
}

.form__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-items);
  visibility: hidden;
}

.form__section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form input,
.form textarea,
.form button {
  background-color: var(--background-items);
  outline: none;
  border: 1px;
  border-radius: 5px;
  padding: 10px;
}

.form input {
  width: 200px;
}

.form textarea {
  height: 200px;
  width: 100%;
  resize: none;
}

.form button {
  width: 100px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form__message {
  visibility: hidden;
  margin-top: 0;
  margin-bottom: 0;
  background: var(--background-color);
  position: absolute;
  padding: 10px;
  top: -60px;
  left: 0;
  width: 100%;
  border-radius: 5px;
  color: var(--success-color);
  border: 1px solid var(--success-color);
}

.form__error {
  color: var(--error-color);
  border: 1px solid var(--error-color);
}
